---
import {siteWidth} from "../../styles/constants.js";
interface Props {
  id?: string;
  outerClass?: string;
  innerClass?: string;
}

const { id = "", outerClass = "relative pt-24 sm:pt-32 md:pt-36 pb-4 md:pb-24 overflow-hidden", innerClass = "relative z-10 justify-between mx-auto flex gap-2"} = Astro.props;
---

<section id={id} class={`${outerClass} w-full`}>
  <div class:list={[siteWidth, innerClass]} >
    <div class="prose pr-4 sm:prose-2xl prose-h1:text-5xl lg:prose-h1:text-6xl prose-headings:mb-6 prose-h1:font-semibold prose-h2:!font-bold dark:prose-invert prose:max-w-full">
      <slot name="left-side" />
    </div>
    <slot />
  </div>
</section>

