---
import {siteWidth} from "../../styles/constants.js"
interface Props {
  id?: string;
  outerClass?: string;
  innerClass?: string;
  proseClasses?: string;
  before?: boolean;
  opacity?: string;
}

const { 
  id = "", 
  outerClass = "relative py-32", 
  innerClass = "relative z-10 justify-center mx-auto",
  proseClasses = "prose-a:font-bold prose-a:no-underline md:prose-h2:text-4xl prose-h2:font-bold prose-li:marker:  z-10 prose-xl prose-h3:uppercase prose-h3:text-xl prose-h3:mb-1 prose-h3:font-bold text-left w-full [&_h2]:scroll-mt-32 dark:prose-invert" 
} = Astro.props;

---

<section id={id} class:list={[outerClass, "w-full"]}>
  <div class:list={[siteWidth, innerClass, proseClasses]} >
      <slot />
    </div>
  </div>
</section>


<style>

@keyframes animBg {
	0% {
		transform: translate(-252px, -226px)
	}
	100% {
    transform: translate(-200px, -200px)
	}
}

.section::before {    
  content: '';
  position: absolute;
  width: 400vw;
  height: 400vh;
  background: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23da0f26' fill-opacity='1'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E") 0 0 repeat;
  animation: animBg 7s linear infinite;
  z-index: 1;
} 
</style>