---
import Section from "./sections/Section.astro";
---

<Section outerClass="relative py-12 md:py-16 bg-setta-860" >

  <div class="flex flex-col md:flex-row gap-8">
    
    <div class="md:flex-1 lg:flex-initial lg:w-1/3 mt-2 prose prose-xl prose-p:text-setta-300">
      <h2 class="!text-3xl md:!text-4xl !text-setta-500 mb-5 font-black uppercase">Contact</h2>
      <p>Have a question or suggestion? We'd love to hear from you!</p>
      <p>For immediate answers, check out our <a href="https://docs.setta.dev/" target="_blank" class="!text-setta-100  hover:!text-blue-700 transition-colors">Docs</a> or <a href="https://github.com/settadev/setta" target="_blank" class="!text-setta-100  hover:!text-blue-700 transition-colors">GitHub.</a></p>
    </div>
    <form 
      action="https://formspree.io/f/xgvoyjrk"
      method="POST"
      class="flex flex-1 md:flex-grow flex-col gap-4"
    >
    
      <input
        type="email"
        name="email"
        placeholder="Email"
        aria-label="Email address"
        required
        class="bg-transparent border-b-2 border-setta-700 px-4 py-2 text-xl text-white placeholder:text-setta-600 focus:outline-none focus:border-blue-500 transition-colors"
      />
      <input
      name="subject"
      placeholder="Subject"
      aria-label="Subject for email"
      required
      class="bg-transparent border-b-2 border-setta-700 px-4 py-2 text-xl text-white placeholder:text-setta-600 focus:outline-none focus:border-blue-500 transition-colors"
    />
      <textarea
        name="message"
        placeholder="Message"
        aria-label="Email message content"
        required
        rows="3"
        class="bg-transparent border-b-2 border-setta-700 px-4 py-2 text-xl text-white placeholder:text-setta-600 focus:outline-none focus:border-blue-500 transition-colors resize-none"
      ></textarea>
      <button 
        type="submit"
        class="!text-setta-400 hover:!text-white font-bold py-2 px-5 ml-auto bg-transparent border border-setta-800 hover:!bg-blue-700 rounded-2xl text-center transition-colors w-min"
      >
        Send
      </button>
    </form>
</div>
  
  
</Section>