---


---

  <div class="absolute inset-0 min-h-[100svh] max-h-full">
    <div class="bg-[#090d14] h-full bg-gradient-radial-complex"></div>
    <div class="absolute inset-0 bg-[url('/assets/img/noise.png')] mix-blend-soft-light opacity-20"></div>
    <div class="absolute inset-0 bg-[url('/assets/img/pattern.jpg')] bg-cover opacity-70 bg-center bg-no-repeat mix-blend-plus-lighter"></div>
  </div>


<style>
  /* Astro will automatically scope these styles */
  .bg-gradient-radial-complex {
  filter: contrast(150%) brightness(110%) saturate(110%);
  background-image: 
    radial-gradient(ellipse at 85% min(30%, 30svh), hsla(203, 85%, 25%, 0.95) 0%, hsla(203, 85%, 25%, 0) 70%),
    radial-gradient(ellipse at 85% max(80%, 70svh), hsla(17, 85%, 35%, 0.95) 0%, hsla(17, 85%, 35%, 0) 70%),
    radial-gradient(ellipse at 15% max(70%, 60svh), hsla(288, 80%, 20%, 0.95) 0%, hsla(288, 80%, 20%, 0) 70%);
  background-blend-mode: screen;
  background-size: 100% 100%;
  background-position: center;
}
</style>