---
import {siteWidth} from "../styles/constants"
import Layout from '../layouts/Layout.astro';
import Section from "../components/general/sections/Section.astro";
import Noise3 from "../components/general/Noise3.astro";
---
<Layout 
  title="404 - Page Not Found" 
>
  <Section outerClass="h-[100svh]" innerClass="!h-full relative grid !mx-auto" proseClasses="">
    <div class="place-self-center flex flex-col items-center z-10">
      <h1 class="text-6xl font-black mb-4">404</h1>
      
      <img src="/src/assets/video/travolta-lost.gif" class="h-32 -mr-8" />
      <p class="text-2xl my-8">Page not found. Forgetta 'bout it.</p>
      <a href="/" class="bg-setta-900/50 hover:bg-blue-800  font-bold px-3 py-2 rounded-lg transition duration-300">
        Setta Home
      </a>
    </div>
    <Noise3 slot="bg" />
  </Section>
</Layout>