---
import { ChevronDown } from "lucide-astro";
import {siteWidth} from "../../../styles/constants.js";
interface Props {
  id?: string;
  outerClass?: string;
  innerClass?: string;
}

const { id = "", outerClass = "relative pt-24 sm:pt-32 md:pt-48 pb-4 md:pb-40 overflow-hidden", innerClass = "relative z-10 justify-between mx-auto flex gap-2"} = Astro.props;
---

<section id={id} class={`${outerClass} w-full`}>
  <div class:list={[siteWidth, innerClass]}>
    <div class="prose md:pr-5 sm:prose-2xl prose-h1:text-5xl sm:prose-h1:text-6xl lg:prose-h1:text-[clamp(3.25rem,_4.75vw,_3.75rem)] prose-headings:mb-6 prose-h1:font-semibold prose-h2:!font-bold dark:prose-invert prose:max-w-full">
      <slot name="left-side" />
    </div>
    <slot />
  </div>
  <ChevronDown 
    class="z-10 block absolute bottom-8 md:bottom-36 w-full cursor-pointer animate-bounce" 
    data-scroll-to="setta-intro" 
  />
  <slot name="outer" />
</section>

<script>
const scrollButtons = document.querySelectorAll('[data-scroll-to]');
scrollButtons.forEach(button => {
  button.addEventListener('click', () => {
    const targetId = button.getAttribute('data-scroll-to');
    if (targetId) {
      document.getElementById(targetId)?.scrollIntoView({ 
        behavior: 'smooth'
      });
    }
  });
});
</script>

