---
import { Image } from "astro:assets";
import Section from "./sections/Section.astro";
// import VideoPlaceholder from "../assets/img/home/video-placeholder.png"
---

<Section
  outerClass="py-0 md:py-16 bg-setta-900 md:bg-setta-875/80 shadow-2xl shadow-setta-950/50 border-b border-setta-700"
  proseClasses=""
>
  <div class="relative -mb-4 md:-mt-24 md:-mb-24 overflow-hidden bg-setta-900 rounded-2xl min-w-full border border-setta-500/50 shadow-lg">
    <div class="relative w-full" style="padding-top: 63%"> <!-- 4:3 aspect ratio -->
      <Image 
        src="/assets/img/hero.png"
        alt="setta video placeholder" 
        width={1280} 
        height={960} 
        class="absolute inset-0 z-0 w-full h-full object-cover" 
      />
      <video
        class="absolute inset-0 w-full h-full object-cover z-10"
        autoplay="true"
        muted="true"
        loop="true"
        playsinline="true"
      >
        <source src="assets/video/hero.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
</Section>