---
import GithubIcon from "./general/GithubIcon.astro";
import Section from "./sections/Section.astro";
---

<Section outerClass="py-16 bg-blue-800" innerClass="max-w-lg mx-auto" proseClasses="">
  <h2 class="font-bold text-3xl mb-4">Start Your Next Project With Setta</h2>
  <div class="flex gap-2">
    <div class="flex px-2 justify-center md:justify-between items-center bg-white dark:bg-setta-900 rounded-2xl border border-white dark:border-blue-500/50 shadow-sm">
      <code class="before:!content-none after:!content-none py-2 px-3 !text-setta-600 dark:!text-setta-200">
        pip install setta
      </code>
      <button 
        class="px-2 py-2 [&_*]:text-setta-300 [&_*]:hover:text-setta-100 rounded-full"
        onclick="copyToClipboard('pip install setta')"
      >
        <svg 
          xmlns="http://www.w3.org/2000/svg" 
          width="20" 
          height="20" 
          viewBox="0 0 24 24" 
          fill="none" 
          stroke="currentColor" 
          stroke-width="2" 
          stroke-linecap="round" 
          stroke-linejoin="round"
        >
          <rect width="14" height="14" x="8" y="8" rx="2" ry="2"></rect>
          <path d="M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2"></path>
        </svg>
      </button>
    </div>
    <button class="flex justify-center items-center bg-blue-500 hover:bg-blue-600 dark:bg-setta-850 dark:hover:bg-blue-700 !text-white font-bold px-4 py-1 rounded-2xl">
      <div class="flex gap-2 items-center">
        <GithubIcon class="w-6 h-6" />
        View on Github
    </div>
    </button>
  </div>
  
</Section>