---
import Section from "./sections/Section.astro";
import ConfigSolved from "../snippets/home/configuration-solved.md"
---

<Section outerClass="bg-setta-850 py-16 [&_ul]:list-none" innerClass="max-w-2xl mx-auto" >
  <ConfigSolved />
</Section>