---
import GithubIcon from "./general/GithubIcon.astro";
import Section from "./sections/Section.astro";
import CopyButton from "./CopyButton.astro";
import { GITHUB_URL } from "../constants"
---

<Section outerClass="py-16 md:py-24 bg-blue-800 relative overflow-hidden" innerClass="z-20 relative mx-auto" proseClasses="">
  <h2 class="font-semibold text-3xl md:text-6xl mb-6 lg:mb-8 text-center">Get Started With Setta</h2>
  <div class="flex flex-row flex-wrap gap-2 justify-center">
    <a href={GITHUB_URL} class="flex justify-center items-center dark:bg-transparent border border-white hover:shadow-xl hover:!bg-black/30 shadow-setta-950/100 !text-white font-bold px-4 py-2 rounded-2xl transition-all no-underline text-lg">
      <div class="flex gap-2 items-center">
        <GithubIcon class="w-6 h-6" />
        Open Source on GitHub
      </div>
    </a>
  </div>
</Section>