---
import GithubIcon from "./general/GithubIcon.astro";
import Section from "./sections/Section.astro";
import CopyButton from "./CopyButton.astro";
import { GITHUB_URL } from "../constants"
---

<Section outerClass="py-16 bg-blue-800" innerClass="max-w-lg mx-auto" proseClasses="">
  <h2 class="font-bold text-3xl mb-4 text-center">Start Your Next Project With Setta</h2>
  <div class="flex flex-row flex-wrap gap-2 justify-center">
    <div class="flex px-2 justify-center items-center bg-white dark:bg-setta-900 rounded-2xl border border-white dark:border-blue-500/50">
      <code class="before:!content-none after:!content-none py-2 px-3 !text-setta-600 dark:!text-setta-200">
        pip install setta
      </code>
      <CopyButton textToCopy="pip install setta" id="bottomCTACopy"/>
    </div>
    <a href={GITHUB_URL} class="flex justify-center items-center dark:bg-transparent border border-white hover:shadow-lg shadow-setta-950/100 !text-white font-bold px-4 py-1 rounded-2xl transition-all no-underline">
      <div class="flex gap-2 items-center">
        <GithubIcon class="w-6 h-6" />
        View on Github
      </div>
    </a>
  </div>
</Section>