---
import {siteWidth} from "../styles/constants.js"
---



<footer class="flex justify-center py-8">
  <div class={`${siteWidth} flex  flex-col items-center text-center`}>

    <section class="flex gap-8 justify-between self-stretch">

      <p>
        <a href="/sitemap-index.xml" class="text-sm  hover:underline">Sitemap</a>
      </p>

    </section>
  </div>
</footer>