---
import {siteWidth} from "../styles/constants.js"
---



<footer class="flex justify-center py-8 bg-setta-950">
  <div class={`${siteWidth} flex  flex-col items-center text-center`}>



      <ul class="flex self-start flex-col gap-2 items-start">
        <li><a href="https://github.com/setta-dev" class="!text-setta-600 text-sm  hover:underline">Github</a></li>
        <li><a href="https://x.com/settadev" class="!text-setta-600 text-sm  hover:underline">X</a></li>

      </ul>


  </div>
</footer>