---
import {siteWidth} from "../styles/constants.js"
---



<footer class="flex justify-center py-8 bg-setta-950">
  <div class={`${siteWidth} flex  flex-col items-center text-center`}>

    <div class="self-start">
      <h2 class="!text-setta-700 mb-3 font-black text-xs uppercase">More From Setta</h2>
      <ul class="flex  flex-col gap-2 items-start">
        <li><a href="https://docs.setta.dev/" class="!text-setta-600 text-sm  hover:underline">Docs</a></li>
        <li><a href="https://github.com/settadev/setta" target="_blank" class="!text-setta-600 text-sm  hover:underline">GitHub</a></li>
        <li><a href="https://x.com/settadev" target="_blank" class="!text-setta-600 text-sm  hover:underline">X</a></li>

      </ul>
    </div>

  </div>
</footer>