---
import HeroCTA from "./pages/home/HeroCTA.astro";
import Hero from "./sections/Hero.astro";
import ThemeImage from "./ThemeImage.astro";
import SettaSection from "../assets/img/home/setta-section-card.png"
// import AlgoLight from "../assets/img/home/algorithm-light.png"
import HeroBgDark from "../assets/img/home/setta-sections-bg.png"
import { Image } from "astro:assets";
// import HeroBgLight from "../assets/img/home/hero-bg-light.png"
---

<Hero outerClass="bg-setta-900 relative pt-24 sm:pt-32 md:pt-36 pb-4 md:pb-24 overflow-x-clip md:overflow-clip md:shadow-2xl md:shadow-setta-950/50 md:border-b md:border-setta-700" innerClass="relative z-10 items-center justify-between mx-auto flex gap-2">
  <h1 slot="left-side" class="text-balance">Python, Without The Drudgery</h1>
  <p class="my-0 text-white" slot="left-side">Streamline your code. Skip the boilerplate parsers and frontend. Effortlessly expose your Python functions as a flexible UI. Configure, interact, and share with ease.</p>
  <HeroCTA slot="left-side" />
  <div class="relative overflow-clip min-w-[300px] min-h-[400px] bg-setta-900/50 backdrop-blur-sm rounded-[13px] shadow-xl shadow-setta-950/60 drop-shadow-[0_0px_120px_rgba(59,129,246,0.6)]">
      <video
        class="z-10"
        autoplay
        loop
        muted
        playsinline
      >
        <source src="assets/video/hero-card.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div role="status" class="grid absolute inset-0 -z-10">
        <svg aria-hidden="true" class="w-8 h-8 place-self-center text-setta-200/10 animate-spin dark:text-setta-600/20 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
        </svg>
        <span class="sr-only">Loading...</span>
    </div>
  </div>
  <!-- <ThemeImage class="hidden lg:block" alt="Setta Card With Parameters" darkImage={SettaSection} width={500} height={763} imageClass="rounded-[12px] drop-shadow-[0_0px_120px_rgba(59,129,246,0.6)]"/> -->
  <ThemeImage alt="Setta Cards in the BG"  darkImage={HeroBgDark} width={600} height={568} class="absolute -right-40 -z-10 blur-sm opacity-70 lg:opacity-100 md:blur-[2px]"/>
</Hero>