---
import HeroCTA from "./pages/home/HeroCTA.astro";
import Hero from "./sections/Hero.astro";
import ThemeImage from "./ThemeImage.astro";
import AlgoDark from "../assets/img/home/algorithm-dark.png"
import AlgoLight from "../assets/img/home/algorithm-light.png"
import HeroBgDark from "../assets/img/home/hero-bg-dark.png"
import HeroBgLight from "../assets/img/home/hero-bg-light.png"
---

<Hero outerClass="bg-setta-900 relative pt-24 sm:pt-32 md:pt-36 pb-4 md:pb-24 overflow-hidden md:shadow-2xl md:shadow-setta-950/50 md:border-b md:border-setta-700" innerClass="relative z-10 items-center justify-between mx-auto flex gap-2">
  <h1 slot="left-side">Say No To Boilerplate. <br />Setta Your Configs & Run!</h1>
  <p class="my-0" slot="left-side">Skip the config parsers and focus on getting results. With Setta's powerful UI / DX, your code is ready to configure. Plus, it's free & open source! 😎</p>
  <HeroCTA slot="left-side" />
  <ThemeImage class="hidden lg:block" alt="Setta Card With Parameters" lightImage={AlgoLight} darkImage={AlgoDark} width={350} height={564} imageClass="rounded-[18px] drop-shadow-[0_0px_120px_rgba(59,129,246,0.6)]"/>
  <ThemeImage alt="Setta Cards in the BG" lightImage={HeroBgLight} darkImage={HeroBgDark} width={683} height={695} class="hidden md:block absolute -right-52 -z-10"/>
</Hero>