---
import HeroCTA from "./pages/home/HeroCTA.astro";
import Hero from "./sections/Hero.astro";
import ThemeImage from "./ThemeImage.astro";
import SettaSection from "../assets/img/home/setta-section-card.png"
// import AlgoLight from "../assets/img/home/algorithm-light.png"
import HeroBgDark from "../assets/img/home/setta-sections-bg.png"
import { Image } from "astro:assets";
import NoiseBg from "../assets/img/home/setta-noise.png"
// import HeroBgLight from "../assets/img/home/hero-bg-light.png"
// drop-shadow-[0_0px_120px_rgba(59,129,246,0.6)]
// drop-shadow-[0_0px_120px_rgba(59,129,246,0.6)]
---

<Hero outerClass="hero-section pattern bg-gradient-to-br from-blue-900 to-setta-950 relative pt-8 md:pt-36  md:pb-24 overflow-x-clip md:overflow-clip md:shadow-2xl md:shadow-setta-950/50 md:border-b md:border-setta-700 h-[100svh] md:h-[calc(100svh_+_4rem)] flex items-center" innerClass="relative md:-mt-[8rem] z-10 items-center justify-between mx-auto flex gap-2">
  <h1 slot="left-side" class="text-balance xl:!text-7xl tracking-tight"><span class="text-green-300">Python</span> <em>Without</em> The <span class="text-blue-200">Donkeywork</span></h1>
  <p class="my-0 text-white" slot="left-side">Streamline your code. Skip the boilerplate parsers and frontend. Effortlessly expose your Python functions as a flexible UI. Configure, interact, and share with ease.</p>
  <HeroCTA slot="left-side" />
  <div class="relative hidden lg:block overflow-clip min-w-[300px] min-h-[400px] h-[400px] bg-setta-900/50 rounded-[13px] shadow-xl shadow-setta-950/60 drop-shadow-[0_0px_120px_rgba(0,80,247,0.3)]">

      <video
        class="z-10"
        autoplay
        muted
        playsinline
        poster="/assets/img/hero-card-static.png"
        height="400"
        width="300"
      >
        <source src="assets/video/hero-card.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      
  </div>
  <!-- <ThemeImage alt="Setta Cards in the BG"  darkImage={HeroBgDark} width={600} height={568} class="absolute -right-40 -z-10 blur-sm hidden lg:block opacity-40 md:blur-[2px]"/> -->
  <div class="absolute inset-0 pattern z-[1] mix-blend-exclusion" slot="outer"></div>
  <ThemeImage alt="Setta Cards in the BG"  darkImage={NoiseBg} width={2400} height={1455} class="absolute inset-0 [&_img]:object-cover [&_img]:w-full [&_img]:h-full [&_img]:opacity-100 [&_img]:mix-blend-" quality={100} decoding="async" loading="eager" slot="outer"/>
</Hero>
