<section class="py-16 flex flex-col">
  <div class=" mx-auto cursor-not-allowed flex gap-4 items-center justify-center">
    <div class="bg-red-800 py-4 px-6 overflow-hidden rounded-xl h-full"><h3 class="!text-6xl font-normal  !mt-0 !capitalize">Setta Is Not:</h3></div>
    
    <ul class="text-2xl !mt-0 !mb-0 -ml-12 list-none">
      <li><span class="text-2xl pr-2">❌</span> A frontend framework.</li>
      <li><span class="text-2xl pr-2">❌</span> A visual programming environment.</li>
    </ul>
  </div>
  <p class="text-3xl font-normal text-center"><span class="text-2xl pr-2">✅ </span> Just your Python functions with a powerful UI.</p>
</section>