---
import GithubIcon from "../../general/GithubIcon.astro"
import CopyButton from "../../../components/general/CopyButton.astro"
import { GITHUB_URL } from "../../../constants"
---

<div class="flex flex-wrap justify-center md:justify-start flex-row pb-2 md:pb-0  items-stretch gap-4 pt-8 lg:pt-1">
  <!-- <div class="flex px-2 justify-center md:justify-between items-center bg-white dark:bg-black rounded-2xl  border-white dark:border-blue-500/50 shadow-sm">
    <code class="before:!content-none after:!content-none py-2 px-3 !text-setta-600 dark:!text-white">
      pip install setta
    </code>
    <CopyButton textToCopy="pip install setta" id="heroCTACopy"/>
  </div> -->
  <!-- <a href={GITHUB_URL} target="_blank"  -->
  <div class="flex justify-center items-center bg-blue-500 hover:bg-blue-600 dark:bg-transparent border-white border  dark:hover:bg-blue-800 hover:border-blue-400 !text-white font-bold px-4 py-1 rounded-2xl no-underline transition-colors cursor-not-allowed" >
    <div class="flex gap-2 items-center">
      <GithubIcon class="w-6 h-6" />
      <!-- Open Source on GitHub -->
      Check back soon!
    </div>
  </div>
</div>
