---
import Footer from '../components/general/Footer.astro';
import Header from '../components/general/Header.astro';
import Section from '../components/general/sections/Section.astro';
import '../styles/global.css';
import { ViewTransitions } from 'astro:transitions';
import { siteWidth } from '../styles/constants';
import BlogListTitle from '../components/pages/blog/BlogListTitle.astro';

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href={new URL(Astro.url.pathname, Astro.site)} />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0051FF">
    <meta name="msapplication-TileColor" content="#0051FF">
    <meta name="generator" content={Astro.generator} />
    <slot name="SEO" />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body transition:animate="fade">
    <Header />
    <main class="flex-1 flex flex-col">
      <BlogListTitle>
        <h1 class="text-white text-5xl mt-32 mb-8">{frontmatter.title}</h1>
        {frontmatter.date && (
          <time datetime={frontmatter.date} class="text-sm text-setta-400">
            {new Date(frontmatter.date).toLocaleDateString('en-US', {
              year: 'numeric',
              month: 'long',
              day: 'numeric'
            })}
          </time>
        )}
      </BlogListTitle>
      <Section outerClass="relative pt-32 pb-16 bg-setta-875 border-b border-setta-700" customSiteWidth={siteWidth}>

        <article class="prose dark:prose-invert max-w-none">
          
          <slot />
        </article>
      </Section>
      <slot name="bottom" />
    </main>
    <Footer />
  </body>
</html>